<ul id="slide-out" class="side-nav">
    <li>
        <div class="user-view">
            {{#if @blog.logo}}
                <p><img class="circle" src="{{img_url @blog.logo}}" alt="blog's logo"></p>
            {{/if}}
            <span class="grey-text text-darken-3 name">{{@blog.title}}</span>
            <span class="grey-text text-darken-3 email">{{@blog.description}}</span>
        </div>
    </li>

    <li>
        <div class="divider"></div>
    </li>

    {{#foreach navigation}}
        <li><a href="{{url absolute="true"}}" class="waves-effect">{{label}}</a></li>
    {{/foreach}}

    <li>
        <div class="divider"></div>
    </li>

    {{#if @blog.twitter}}
        <li>
            <a href="{{twitter_url}}" target="_blank" rel="noopener" class="waves-effect">
                <i class="fa fa-twitter no-margin-right" aria-hidden="true"></i> {{@blog.twitter}}
            </a>
        </li>
    {{/if}}

    {{#if @blog.facebook}}
        <li>
            <a href="{{facebook_url}}" target="_blank" rel="noopener" class="waves-effect">
                <i class="fa fa-facebook no-margin-right" aria-hidden="true"></i> {{@blog.facebook}}
            </a>
        </li>
    {{/if}}
</ul>